.mt-1 {
  margin-top: 24px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 8px;
}

.mb-1 {
  margin-bottom: 24px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 8px;
}

.ml-1 {
  margin-left: 24px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 8px;
}

.mr-1 {
  margin-right: 24px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 8px;
}

.m-1 {
  margin: 24px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 8px;
}

.pt-1 {
  padding-top: 24px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 8px;
}

.pb-1 {
  padding-bottom: 24px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 8px;
}

.pl-1 {
  padding-left: 24px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 8px;
}

.pr-1 {
  padding-right: 24px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 8px;
}

.p-1 {
  padding: 24px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", sans-serif;
}

.btn {
  padding: 8px 20px;
  border-radius: 3px;
  height: 36px;
}

.btn-primary {
  background-color: #f68955;
  color: black;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #0583d2;
  color: white;
}

.gradientContainer p {
  position: absolute;
  top: 30%;
  left: 55%;
  right: 10%;
  font-size: 32px;
  color: white;
  font-family: Poppins;
  font-weight: 700;
}

.gradientContainer {
  width: 100%;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  );
}

figure img {
  display: block;
  position: relative;
  z-index: -1;
  margin-top: 125px;
  width: 100%;
}

.centerWrapper {
  text-align: center;
}

h1,
h2,
h3 {
  color: #0583d2;
  text-transform: capitalize;
  font-family: Poppins;
  text-align: center;
}

.mainPara {
  margin: 24px 96px;
  line-height: 30px;
}

p {
  text-align: center;
}

header {
  z-index: 2;
  padding: 5px 15%;
  height: 75px;
  background-color: #b8e3ff;
  position: fixed;
  width: 100%;
}

/* body {
    background-color: #f6f6f2;
} */

nav {
  z-index: 2;
  width: 100%;
  position: fixed;
  text-align: center;
  padding: 10px;
  margin-top: 75px;
  background-color: #0583d2;
}

input {
  padding: 5px 15px;
  height: 36px;
  border: 1px solid black;
  border-radius: 3px;
}

.brandIcon {
  height: 65px;
}

header button,
header input {
  float: right;
}

nav a,
footer a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Poppins;
}

nav a.active,
nav a:hover {
  background-color: white;
  color: black;
}

nav a:hover {
  text-shadow: 2px 2px 2px #6fb3b8;
}

nav a {
  padding: 11px 24px;
}

.footerMenu a {
  text-transform: capitalize;
  color: white;
  font-family: "Lora", sans-serif;
}

.footerMenu a:hover {
  text-decoration: underline;
}

footer {
  color: white;
  padding: 10px;
  background-color: #0583d2;
}

footer ul li {
  display: inline;
  font-size: 30px;
  cursor: pointer;
}

.footerLeft {
  display: inline-block;
}

.footerRight {
  float: right;
}

.footerRight input,
.footerRight button {
  width: 275px;
}

hr {
  margin: 16px 48px;
}

.serviceContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.serviceContent {
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceContent h2 {
  color: white;
  text-align: center;
}

.serviceContent p {
  font-weight: bold;
  color: white;
  text-align: center;
}

#serviceimg1 {
  background-image: url("../images/squirrel-5544674_1280.jpg");
}

#serviceimg2 {
  background-image: url("../images/dog-2579885_640.jpg");
}

#serviceimg3 {
  background-image: url("../images/right-to-live-7531701_1280.jpg");
}

#serviceimg4 {
  background-image: url("../images/animal-welfare-1116205_640.jpg");
}

#serviceimg5 {
  background-image: url("../images/animal-containment-facility-2223461_640.jpg");
}

#serviceimg6 {
  background-image: url("../images/koala-3055832_640.jpg");
}




/* service page css starts here */

.serviceBannerContent p {
    font-weight: bold;
    color: white;
    text-align: center;
}

.servicesMain{
    width: 85%;
    margin: 0 auto;
}

.servicesContainer-1{
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    margin-top: 48px;
}

.serviceContainer-2{
    display :grid;
    grid-template-columns: 2fr 0.75fr;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 48px;
    background-color: aliceblue;
    border: solid 1px #0583d2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.servicesContent{
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.servicesContent-2{
  margin-left: 24px;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.servicesContent p{
    margin-top: 6px;
    text-align: justify;
}

.servicesContent-2 p{
  margin-top: 6px;
  text-align: justify;
}

.service-img-container{
    width: 300px;
}

.service-img-container-2{
    width: 300px;
    margin-left:auto;
}

.service-img-container img, .service-img-container-2 img{
    width: 100%;
    height: 100%;
}


.ourwork{
    margin-top: 24px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 72px;
}

#heading{
    margin-top: 48px;
}

.section-img-container{
    padding-bottom: 0;
}

.section-img-container img{
    height: 100%;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.reviewContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 48px;
    padding-top: 24px;
    margin-bottom:48px;
    margin-top: 0;
}

.reviewContainer section{
    text-align: center;
    background-color: aliceblue;
    padding-top: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid orange;
}

.circle {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
  
.circle img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

section p{
    text-align: justify;
    
    padding-top: 6px;
    padding-bottom:0px;
}
.reviewContainer section p{
    text-align: justify;
    padding: 24px;
}

.recognitionContainer{
    display: grid;
    grid-template-columns: 0.55fr 2fr;
    padding: 24px;
    margin-bottom: 48px;
    background-color: aliceblue;
    border: solid 1px #0583d2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.recognition-img-container{
    width: 200px;
    height: 200px;
}

.recognition-img-container img{
  height:100%;
  width:100%;
}

.recognitionContent{
  text-align: center;
}

.recognitionContent p {
  padding-top:16px;
  text-align: justify;
}

.contributionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contributionContent p {
    line-height: 24px;
}
/* service page css ends here */




.contributionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contributionContent p {
  line-height: 24px;
}
/* contact-us and about-us */
.contactusContainer {
  width: 70%;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 150px auto;
  column-gap: 16px;
  row-gap: 8px;
}

.contactdetailsContainer {
  background-color: #b8e3ff;
}

.day {
  font-weight: 700;
}

.contactSubmit {
  display: grid;
  margin: 0 300px;
  grid-column-start: 1;
  grid-column-end: 3;
}

label + * {
  margin-bottom: 15px;
}

.contactusContainer textarea {
  border: 1px black solid;
  padding: 5px 15px;
  border-radius: 3px;
}

.aboutusContainer {
  margin: 24px 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutusContent {
  text-align: center;
}

.aboutusContent p {
  line-height: 24px;
}

.aboutusContent img {
  height: 150px;
  width: 225px;
}

#about-container{
position: relative;
padding-top: 150px;
}

/* CSS by - Vaibhav Arora - Start*/

.banner-container {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 37%;
  font-size: 32px;
  color: white;
  font-family: Poppins;
}
.banner-container p {
  position: unset;
  text-align: left;
  font-weight: 700;
}

.gradientContainer img {
  height: 487px;
}

.contribute-montly-donation {
  margin-top: 15px;
}

.montly-donation-btnGrp {
  text-align: center;
}

.montly-donation-btnGrp button {
  background-color: transparent;
  border-radius: 0;
  font-family: Poppins;
  width: 100px;
  border: 1px solid;
}

.contribute-banner2 {
  margin-top: 50px;
  background-image: url("../images/contribute/children-gb9cb3853c_1280.png");
  /* Image downloaded from Pixabay */
}

.contribute-banner2-body {
  text-align: center;
  padding: 75px;
  background-color: rgb(184, 227, 255, 0.4);
}

.contribute-banner2-body p {
  font-size: 30px;
  font-family: Poppins;
  font-weight: 700;
}

.contribute-family-container,
.contribute-adoption-container {
  margin-top: 50px;
}

.contribute-family-heading {
  margin-top: 70px;
  font-size: 45px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.contribute-family-body {
  margin-top: 40px;
  justify-content: center;
  gap: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 0 1 21%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contribute-family-img img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.contribute-family-content {
  padding: 20px 25px 30px;
  text-align: center;
}

.contribute-family-body h4 {
  font-size: 25px;
  margin-bottom: 5px;
  font-family: Poppins;
}

.contribute-adoption-body {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.contribute-adoption-card {
  flex: 1 0 25%;
  max-width: 25%;
  position: relative;
}

.contribute-adoption-card img {
  display: block;
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f68955;
  /* #f68955 */
}

.contribute-adoption-card:hover .overlay {
  opacity: 0.3;
}

.contribute-adoption-card:hover h3 {
  z-index: 1;
}

.contribute-adoption-card h3 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  text-decoration: underline;
}

.contribute-foster-conatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  background-color: #f7f6f2;
}

.contribute-foster-banner {
  flex: 0 0 50%;
  max-width: 50%;
}

.contribute-foster-banner img {
  width: 100%;
}

.contribute-foster-content {
  flex: 0 0 45%;
  max-width: 45%;
  align-self: center;
  text-align: center;
  text-align: left;
}

.contribute-foster-content h2 {
  font-size: 40px;
  color: #000000;
  text-align: left;
}

.contribute-foster-content p {
  margin: 20px 0;
  font-size: 18px;
  color: #363636;
  text-align: left;
}

.contribute-highest-donation-conatiner {
  width: 80%;
  margin: 50px auto;
}

.contribute-highest-donation-table table {
  margin-top: 40px;
  border-collapse: collapse;
  width: 100%;
}

.contribute-highest-donation-table thead {
  background-color: #0583d2;
  color: #ffffff;
}

.contribute-highest-donation-table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family: Poppins;
}

.contribute-highest-donation-table tr:nth-child(even) {
  background-color: #daf0ff;
}

/* CSS by - Vaibhav Arora - End*/

.contactContainer {
  padding-top: 130px;
}

.contactdetailsContents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contactdetailsContents ul {
  list-style: none;
}

.contactdetailsContents ul li {
  text-align: center;
}

@media screen and (max-width: 1024px) {

  .gradientContainer img {
    height: 350px !important;
  }

  .serviceContainer {
    grid-template-columns: 1fr 1fr;
  }

  .gradientContainer p {
    top: 18%;
    left: 55%;
    right: 10%;
    font-size: 24px;
  }

  .gradientContainer {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
    );
  }

  .footerRight,
  .footerLeft {
    margin: 0;
    text-align: center;
  }

  .footerRight {
    float: none;
  }

  .footerLeft {
    display: block;
  }

  .contactusContainer {
    width: 50%;
    margin: 0 10%;
  }

  .contactusContainer input[type="text"], .contactusContainer textarea {
    width: 400px;
  }

  /* CSS by - Vaibhav Arora - Start*/

  .banner-container {
    top: 18%;
  }

  .card {
    flex: 0 1 40%;
  }

  .contribute-adoption-card {
    flex: 1 0 50%;
    max-width: 50%;
  }

  .contribute-highest-donation-conatiner{
    width: 90%;
  }
  
.contribute-highest-donation-table table {
  margin-top: 20px;
}
  /* CSS by - Vaibhav Arora - End*/
}

@media screen and (max-width: 760px) {

  .gradientContainer img {
    height: 200px !important;
  }

  .ourwork,
  .reviewContainer,
  .recognitionContainer,
  .servicesContainer-1,
  .serviceContainer-2,
  .contributionContainer,
  .serviceContainer,
  .contactdetailsContents,
  .aboutusContainer {
    grid-template-columns: 1fr;
  }

  .footerMenu a {
    display: block;
    padding: 4px;
  }

  .footer ul li {
    margin: 0 12px;
  }

  .contributionContent {
    padding: 0;
  }

  .mainPara {
    margin: 24px;
    line-height: 30px;
  }

  .aboutusContainer {
    margin: 24px;
  }

  nav a {
    display: block;
    padding: 5px;
  }

  nav {
    margin-top: 74px;
    height: 220px;
    position: absolute;
  }

  footer {
    position: relative;
  }

  figure img {
    margin-top: 293px;
    position: relative;
  }

  header {
    display: flex;
    position: fixed;
    z-index: 100;
    border-bottom: 2px solid black;
    padding: 5px 5%;
  }

  #search {
    display: none;
  }

  .gradientContainer p {
    top: 41%;
    left: 10%;
    right: 10%;
    font-size: 16px;
  }

  .gradientContainer {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
    );
  }
  .contactusContainer {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 75px auto;
    column-gap: 15px;
  }

  .contactdetailsContents {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .contactContainer {
    padding-top: 306px;
  }


  #about-container{
    position: relative;
    padding-top: 325px;
  }

  /*CSS by - Rahul Odedara - Start*/
  
  .service-img-container-2 {
    grid-row: 1;
  }

  .servicesContent{
    margin-top: 24px;
    display: block;
  }
  
  .servicesContent-2{
    margin-top: 24px;
    margin-left: 0;
    padding-right:24px;
    padding-left: 24px;
    display: block;
  }
  
  .reviewContainer{
    grid-row-gap: 24px;
  }
  
  .service-img-container{
      display: grid;
      width: 100%;
      place-items: center;
      margin-left: 0;
   }

  .service-img-container img{
    width: 300px;
  }

  .serviceContainer-2{
    padding-right: 0;
  }

  .service-img-container-2{
    display: grid;
    width: 100%;
    place-items: center;
  }

  .service-img-container-2 img{
    width: 300px;
  }
  
  /*CSS by - Rahul Odedara - End*/
  
  
  /* CSS by - Vaibhav Arora - Start*/

  .banner-container {
    top: 40%;
    width: 90%;
  }

  .montly-donation-btnGrp button {
    width: 70px;
    padding: 8px 15px;
  }

  .contribute-banner2-body {
    padding: 30px 10px;
  }

  .card {
    flex: 0 1 90%;
  }

  .contribute-adoption-card {
    flex: 1 0 100%;
    max-width: 100%;
  }


  .contribute-foster-banner {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contribute-foster-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 25px 15px 40px;
  }

  .contribute-foster-content h2 {
    font-size: 32px;
  }

  /* CSS by - Vaibhav Arora - End*/

  .contactSubmit {
    margin: 0;
  }

  .contactusContainer input[type="text"], .contactusContainer textarea {
    width: auto;
  }

  header button {
    margin-left: auto;
  }
  

}
